!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Jasmine Spec Runner v2.0.0-rc2
    link(rel='shortcut icon', type='image/png', href='lib/jasmine-2.0.0-rc2/jasmine_favicon.png')
    link(rel='stylesheet', type='text/css', href='lib/jasmine-2.0.0-rc2/jasmine.css')
    script(type='text/javascript', src='lib/jasmine-2.0.0-rc2/jasmine.js')
    script(type='text/javascript', src='lib/jasmine-2.0.0-rc2/jasmine-html.js')
    script(type='text/javascript', src='lib/jasmine-2.0.0-rc2/boot.js')
    script(type='text/javascript', src='lib/angular/angular-mocks.js')
    script(src='/test/lib/angular/angular-scenario.js', ng-autotest='ng-autotest')
    script(type='text/javascript', src='test/spec/scenarios.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  body
